@import '../../../bower_components/bootstrap/scss/bootstrap-flex.scss';
.item, .grid-item {
  transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;

  background-color: #efefef;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;

  opacity: 1;


  &.clicked {
    opacity: 0;
    -webkit-transform: rotateZ(360deg) scale(3);
    -moz-transform: rotateZ(360deg) scale(3);
    -o-transform: rotateZ(360deg) scale(3);
    -ms-transform: rotateZ(360deg) scale(3);
  }
  &.fade {
    opcaity:0;
    //-webkit-transform:  scale;
    //-moz-transform: scale(.1);
    //-o-transform: scale(.1);
    //-ms-transform:   scale(.1);
  }
}

.grid-item {


}

#degrees {

  @include make-row();
  overflow-x:auto;
  display: block;
  .results {
    //margin: 0 auto;
    display: flex;
    margin:0 auto;
    img {
      -webkit-align-items: center;
      align-items: center;
      height: 150px;
    }
  }
}

.selection {
  @include make-col();

  @media (max-width: 32em) {
    @include make-col-span(6);
  }
  @media (min-width: 32.1em) {
    @include make-col-span(8);
  }

  @include make-row();
  display: flex;
  &.undefined {
    .icon {
      display: none;
    }
  }
  img {
    @include make-col-span(6);
    @include pull-left();

    transform: scale(1.1) translateY(19px);
    &:last-child {
      @include pull-right();
    }
  }
}

