@import "../../../bower_components/bootstrap/scss/bootstrap-flex";

$white: #fff;
$chocolate: #230d09;
$mint: #B5E8BF;
$mintRgb: 181, 232, 191;
$bg-inverse:#373a3c;

@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -o-transform: $args;
  -ms-transform: $args;
  transform: $args;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin slideRight() {
  &.slideRight {
    margin-left: 0;
    -moz-animation-name: slideRight;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: .5s;
    -moz-animation-delay: .0s;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-name: slideRight;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: .5s;
    -webkit-animation-delay: .0s;
    -webkit-animation-fill-mode: forwards;

    animation-name: slideRight;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-delay: .0s;
    animation-fill-mode: forwards;

    &:last-child {
      -webkit-animation-delay: 1s; /* Safari */
      animation-delay: 1s;
    }
    &:nth-child(2) {
      -webkit-animation-delay: .5s; /* Safari */
      animation-delay: .5s;
    }
  }
}

.transStart {
  -moz-animation-name: slideLeft;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 1s;
  -moz-animation-fill-mode: forwards;

  -webkit-animation-name: slideLeft;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;

  animation-name: slideLeft;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  &:last-child {
    background: $chocolate;
    -webkit-animation-delay: 2s; /* Safari */
    animation-delay: 2s;
  }
  &:nth-child(2) {
    -webkit-animation-delay: 2s; /* Safari */
    animation-delay: 1.5s;
  }
}

.transStartTopSlideDown {
  /* -moz-animation-name: slideDown;
   -moz-animation-iteration-count: 1;
   -moz-animation-timing-function: linear;
   -moz-animation-duration: 1.5s;
   -moz-animation-delay: 1.5s;
   -moz-animation-fill-mode: forwards;

   -webkit-animation-name: slideDown;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-timing-function: linear;
   -webkit-animation-duration: 1.5s;
   -webkit-animation-delay: 1.5s;
   -webkit-animation-fill-mode: forwards;

   animation-name: slideDown;
   animation-iteration-count: 1;
   animation-timing-function: linear;
   animation-duration: 1.5s;
   animation-delay: 1.5s;
   animation-fill-mode: forwards;*/
  margin-top: -100%;
  @include animation(slideDown 2s linear 2s 1 forwards)

}

.fadeIn {
  /*-moz-animation-name: fadeIn;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: .5s;
  -moz-animation-delay: 3s;
  -moz-animation-fill-mode: forwards;

  -webkit-animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;

  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: .5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;*/

  @include animation(fadeIn 1s linear 3s 1 forwards)

}

/**
*     Animation
**/
@include keyframes(slideRight) {
  0% {
    margin-left: -0%;
  }
  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes slideLeft {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes slideLeft {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@-moz-keyframes slideDown {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0%;
  }
}

@-webkit-keyframes slideDown {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes slideDown {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0%;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'desoto-black';
  src: url('/fonts/de_soto_w00_black-webfont.eot');
  src: url('/fonts/de_soto_w00_black-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/de_soto_w00_black-webfont.woff2') format('woff2'),
  url('/fonts/de_soto_w00_black-webfont.woff') format('woff'),
  url('/fonts/de_soto_w00_black-webfont.ttf') format('truetype'),
  url('/fonts/de_soto_w00_black-webfont.svg#desotow00-blackregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'desoto-bold';
  src: url('/fonts/de_soto_w00_bold-webfont.eot');
  src: url('/fonts/de_soto_w00_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/de_soto_w00_bold-webfont.woff2') format('woff2'),
  url('/fonts/de_soto_w00_bold-webfont.woff') format('woff'),
  url('/fonts/de_soto_w00_bold-webfont.ttf') format('truetype'),
  url('/fonts/de_soto_w00_bold-webfont.svg#desotow00-boldregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'desoto';
  src: url('/fonts/de_soto_w00_regular-webfont.eot');
  src: url('/fonts/de_soto_w00_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/de_soto_w00_regular-webfont.woff2') format('woff2'),
  url('/fonts/de_soto_w00_regular-webfont.woff') format('woff'),
  url('/fonts/de_soto_w00_regular-webfont.ttf') format('truetype'),
  url('/fonts/de_soto_w00_regular-webfont.svg#desotow00-regularregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


*, body  {
  font-family: Calibri;
  position: relative;
}

body, .bg-faded {
  background: $white;
  //height:100%;
  //width:100%;
}
#shadow {
  font-family: desoto-black;

}
h1, h2, h3, h4, h5, h6, .branding {
  font-family: desoto-black;
  position: relative;
  z-index: 3000;
}
.branding {
  font-size: 2em;
}

//.navbar {
//  height: 4em;
//}
nav{
  display: flex;
  align-items: center;
  button {
    z-index: 2999;
    align-items: center;
    .hamburger {
      margin:-1em 0 0;
      top:-11px;
    }
  }
}
.navbar-toggler {
  font-size: 1.3em;
  &:focus {
    outline: none;
  }
}

.bg-inverse {
  color: $white;
}


a {
  color: $chocolate;
  text-decoration: none;

  transition: color .4s ease-in;
  -webkit-transition: color .4s ease-out;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}
.collapse {}
ul {
  display: flex;
  flex-flow: column;
  li {
    list-style: none  ;
    position: relative;
    align-items: flex-end;
  }
}

.nav-menu {
  text-align: right;
  ul {

    li {
      list-style: none ;
      align-items: flex-end;
      margin: .5em 0 0;
      a {
        color: $white;
        &:hover {
          color: $mint;
        }
      }
    }
  }
}

.stripes {
  height: 2.6em;
  .stripe {
    background-color: $mint;
    height: 1.3em;
    position: relative;
    z-index: 0;
    width: 100%;
    margin: 0 0 0 -100%;
    @include slideRight();

    &:last-child {
      @include transform(rotate(90deg));
      margin: -150% 0 0 -85%;
      width: 200%;
    }
  }
}


@include media-breakpoint-up(xs) {
  h4 {
    span {
      &#shadow {
        text-shadow: 1px 1px $bg-inverse;
      }
    }
  }
}
h1 {
  margin:0 0 .5em;
  opacity: 0;
}
section {
  display: flex;
  align-items: flex-start;
  padding:0 0 0 25%;
  opacity: 0;
  position: relative;

  @include media-breakpoint-down(sm){
    flex-flow: column;
  }
  div.articles {
    color: #3c3c3c;
    flex:2 0px;
    h2 {
      font-size: 2em;
      font-family: desoto;
    }
    p {
      &.time {
        font-family: desoto;
        font-family: desoto-bold;
      }
      font-size: 1em;
      line-height: 1.8em;
    }
  }
  aside {
    flex:1 0px;
    @include pull-right();
    nav {
      display: flex;
      ul {
        padding: 0 1.5em 0;
        flex:1;
        align-items: flex-end;
        li {

        }
      }
    }
  }
}



